.loginPage{
   
    /* background: url('./image/dbmsim.jpg'); */
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("./image/dbmsim.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
}
.loginForm {
    background-color: rgba(9, 59, 158, 0.6);
    color: white;
   
}

.employee_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.empImg {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}